@import url(/assets/css/main.css);

body {
    overflow: hidden;
    margin: 0px;
}

header {
    padding: 10px;
    height: 30px;
    position: fixed;
    top: 0px;
    display: block;
    width: 75%;
    margin-left: calc((25% - 20px) / 2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#icon {
    text-decoration: none;
    display: block;
    height: 30px;
    position: absolute;
    top: 10px;
    opacity: 1;
    transition-duration: 0.2s;
    left: 10px;
}

#icon img {
    height: 30px;
}

.ft-links {
    height: 15px;
    opacity: 1;
    position: absolute;
    top: calc(10px + 5px);
    right: calc(10px + 30px + 10px);
    transition-duration: 0.2s;
}

@media only screen and (max-width: 270px) {
    .ft-links {
        opacity: 0;
    }
}

.ft-links b {
    padding-right: 10px;
}

.ft-links b a {
    color: white;
}

#search-button {
    width: 30px;
    position: absolute;
    top: calc(10px);
    height: 30px;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#search-button img {
    width: 20px;
    height: 20px;
}